# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Logs
logs
*.log

# Build artifacts
alexraskin-web

# Dependency directories
vendor/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 