:root {
    --background-color: #fff;
    --heading-text-color: #000;
    --primary-text-color: #222;
    --secondary-text-color: #79858e;
    --accent-color: #008ef5;
    --base-font-size: 1em;
    --base-text-vspace: 1.333em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #202630;
        --heading-text-color: #eee;
        --primary-text-color: #ddd;
        --secondary-text-color: #7b8992;
        --accent-color: #4db5ff;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    letter-spacing: -0.005em;
    color: var(--primary-text-color);
    -webkit-text-size-adjust: 100%;
}

.container {
    max-width: 42rem;
    padding: 4rem 2rem;
    margin: 0 auto;
}

@media only screen and (max-device-width: 600px) {
    .container {
        padding: 2.5rem 1.25rem;
    }
}

h1,
h2,
h3,
p {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

main h1,
main h2,
main h3 {
    color: var(--heading-text-color);
    font-weight: 600;
    letter-spacing: normal;
    text-wrap: balance;
    margin: calc(var(--base-text-vspace) * 1.333) 0 var(--base-text-vspace) 0;
}

main h2 {
    font-size: 1.25rem;
    margin-top: 0;
}

main p {
    font-size: var(--base-font-size);
    margin-bottom: var(--base-text-vspace);
}

main b,
main strong {
    font-weight: 550;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.muted {
    color: var(--secondary-text-color);
}
