<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <meta name="description" content="hi, i'm alex"/>
  <title>alexraskin.com</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="/assets/js/theme.js" defer></script>
  <script src="/assets/js/script.js" defer></script>
</head>
</rewritten_file>