{{ template "head.gohtml" . }}
<body>
<div class="container">
	{{ template "header.gohtml" . }}
	<main>
		<div id="home" class="content">
			{{ template "home.gohtml" .}}
		</div>
	</main>
	{{ template "footer.gohtml" .}}	
</div>
</body>
</html>