{{ template "head.gohtml" . }}
<body>
<div class="container">
	{{ template "header.gohtml" . }}
	<main>
		{{ template "home.gohtml" . }}
	</main>
	{{ template "footer.gohtml" . }}
</div>
</body>
</html>
