@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .min-h-mobile {
    min-height: 100vh;
    min-height: 100svh;
  }
  .h-mobile {
    height: 100vh;
    height: 100svh;
  }
}
